<!DOCTYPE html>
<html>
<head>
	<title>留言板</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div class="message">
		<div class="title">
			<h1>留言信息</h1>
			<h4>请留下你的信息</h4>
		</div>
		<div class="body">
			<div class="name">
				<span>姓名：</span>
				<input type="text" name="name">
			</div>
			<div class="email">
				<span>邮箱：</span>
				<input type="text" name="email">
			</div>
			<div class="address">
				<span>联系地址：</span>
				<input type="text" name="address">
			</div>
			<div class="context">
				<span>留言：</span>
				<input type="text" name="context">
			</div>
		</div>
		<div class="filler">
			<input type="submit" name="submit">
		</div>
	</div>
</body>
</html>